THIS IS CUSTOM WEBSERVER AND AWS CLOUD AND WE ARE USING {{ansible_version}}
WELCOME TO DEVOPS TOOLS AND HOSTNAME IS {{inventory_hostname}}
TODAY WE ARE PRACTISING ANSBLE TOOL AND FORKS TO EXECUTE IS {{ansible_forks}}
